<h1 style="color:Violet;"><%= @trip.name %> Info</h1>
<p style="color:SlateBlue;"><b>Start Date: </b><%= @trip.start_date %></p>
<p style="color:SlateBlue;"><b>End Date: </b><%= @trip.end_date %></p><br/>

<h2 style="color:#65c485;">All Trails Included in <%= @trip.name %></h2>

<% @trip.all_trails.each do |trail| %>
  <h3 style="color:#9FAC79;">Name: <%= trail.name %></h3>
  <p style="color:#B3A580;"><b>Address: </b><%= trail.address %></p>
  <p style="color:#B3A580;"><b>Miles: </b><%= trail.length %></p>
<% end %><br/>

<h2 style="color:#65c485;">Trail Stats for <%= @trip.name %></h2>
  <h4 style="color:#9FAC79;"><b>Total Trip Miles: </b><%= @trip.total_distance %></h4>
  <h4 style="color:#9FAC79;"><b>Average Trip Miles: </b><%= @trip.average_distance %></h4>